<img src="{{ trailer.getImage() }}" width="65" height="97" border="0">
<div class="row like-row">
    <div class="like" data-url="/like" data-id="{{ trailer.getId() }}">Like</div> (<span class="like-count">{{ trailer.getLikes() }}</span>)
</div>